name: Inject

on:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/inject.yml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  inject:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Configure git
        run: |
          git config --global user.name bids-maintenance
          git config --global user.email bids.maintenance@gmail.com

      - name: Install datalad
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install datalad

      - name: Run cron job
        run: |
          tools/inject-schema-fully-auto

      - name: Possibly push results
        run:
          git push
